@model Persons
@{
    ViewData["Title"] = "Моя корзина";
}
<h1>@ViewData["Title"]</h1>

<link rel='stylesheet' href="~/css/bootstrap.min.css">
<script src="~/js/angular.min.js"></script>
<script>
    angular.module("myapp", [])
        .controller("HelloController", function ($scope, $http) {
            $http.post('@Url.Action("MyCart")');
            $scope.outputCart=()=>$http.post('@Url.Action("OutputCart")', {id:@Model.Id}).then(r=>{$scope.cart=r.data});  
            $scope.outputCart();
            $scope.removeFromCart = (id) => $http.post('@Url.Action("RemoveFromCart")', { id:id }).finally(r => {alert('Удалено успешно'),$scope.outputCart()});
            $scope.allUsers = () => $http.post('@Url.Action("OutputUsers")').then(r=> {
                 $scope.users = r.data, $scope.user=$scope.users[0],$scope.selectedItemId = $scope.selectedItemId==null ? $scope.users[0].id : $scope.selectedItemId
            }); 
            $scope.allUsers();
            $scope.selectUser=()=>$scope.selectedItemId = $scope.user.id;
            $scope.changeUser = () => $http.post('@Url.Action("Change")', {id:$scope.selectedItemId}).finally(r => window.location.reload());
        });
</script>

<body ng-app="myapp">
    <div ng-controller="HelloController">
        <h6>Мои товары</h6>
        <table class="table table-hover" ng-show="cart.length > 0">
            <thead>
                <tr>
                    <th id="name" colspan="3" style="border:0;text-align: center; font-weight:bold">№ п/п</th>
                    <th id="name" colspan="3" style="border:0;text-align: center; font-weight:bold">Пользователь</th>
                    <th id="name" colspan="3" style="border:1px;text-align: center; font-weight:bold">Наименование</th>
                </tr>               
            </thead>
            <tbody>
                <tr ng-repeat="item in cart">
                    <td colspan ="3" style="text-align: center">{{item.id}}</td>
                    <td colspan ="3" style="text-align: center">{{item.userId}}</td>
                    <td colspan ="3" style="text-align: center">{{item.item}}</td>
                    <td colspan="1" style="text-align: center"><button type="button" class="btn btn-danger" ng-click="removeFromCart(item.id);">Убрать из корзины</button></td>
                </tr>         
            </tbody>
        </table>
        <p style="font-size:15px; color: darkslategray;" ng-hide="cart.length > 0">
            Тут пока пусто
        </p>
        <div class ="col-md-8">
            <select ng-model="user.id" ng-options="user.id as user.lastname for user in users" class="form-select" ng-change="selectUser();"></select>
            <button type="button" class="btn btn-success" ng-click="changeUser();">Сменить пользователя</button>
        </div>

    </div>
</body>